<%- include('../partials/header')%>

<main class="container">
  <h1 class="create__title">EDITAR ITEM</h1>
  <form class="edit__form" action="/admin/edit" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form__flex edit">
      <div class="form__box--flex">
      <label class="form__label" for="collection">Categoria: </label>
      <select class="form__select" name="collection" id="collection" required>
      <% if ( product.category_id == 1) { %>
        <option value="1" selected>Figuras coleccionables</option>
        <option value="3">LLaveros</option>
        <option value="2">Remeras</option>
      <% } %>
      <% if ( product.category_id == 2) { %>
        <option value="1">Figuras coleccionables</option>
        <option value="3">LLaveros</option>
        <option value="2" selected>Remeras</option>
      <% } %>
      <% if ( product.category_id == 3) { %>
        <option value="1">Figuras coleccionables</option>
        <option value="3" selected>LLaveros</option>
        <option value="2">Remeras</option>
      <% } %>
      </select>
      </div>

      <div class="form__box--flex">
        <label class="form__label" for="collection">Licencia: </label>
        <select class="form__select" name="collection" id="collection" required>
          <% if ( product.licence_id == 1) { %>
          <option value="2">Star Wars</option>
          <option value="1" selected>Pokemon</option>
          <option value="3">Harry Potter</option>
          <% } %>
          <% if ( product.licence_id == 2) { %>
            <option value="2" selected>Star Wars</option>
            <option value="1">Pokemon</option>
            <option value="3">Harry Potter</option>
            <% } %>
          <% if ( product.licence_id == 3) { %>
            <option value="2">Star Wars</option>
            <option value="1">Pokemon</option>
            <option value="3" selected>Harry Potter</option>
           <% } %>
        </select>
        </div>

        <div class="form__box--flex">
          <label class="form__label" for="name">Nombre del producto: </label>
          <input class="form__input" type="text" name="name" id="name" value="<%= product.product_name %>" required>
        </div>  
        <div>
          <textarea name="description" id="description" cols="30" rows="6" required><%= product.product_description %></textarea>
        </div>
        <div class="form__flex">
          <div class="form__box--flex">
            <label class="form__label" for="sku">SKU:</label>
            <input class="form__input" type="text" name="sku" id="sku" value="<%= product.sku %>" required>
        </div>
        </div>
        <div class="form__box--flex">
          <label class="form__label" for="price">Precio:</label>
          <div class="form__input--wrapper"><span>$</span><input class="form__input" type="text" name="price" id="price" data-type="currency" value="<%= product.price %>"></div>
      </div>
      <div class="form__box--flex">
          <label class="form__label" for="stock">Stock:</label>
          <div class="form__input--wrapper"><input class="form__input" type="text" name="stock" id="stock" value="<%= product.stock %>" required><span>unidades</span></div>
      </div>
  </div>
  <div class="form__flex">
      <div class="form__box--flex">
          <label class="form__label" for="discount">Descuento:</label>
          <div class="form__input--wrapper"><input class="form__input" type="text" name="discount" id="discount" value="<%= product.discount %>" required><span>%</span></div>
      </div>
      <div class="form__box--flex">
          <label class="form__label" for="dues">Cuotas:</label>
          <select class="form__select" name="dues" id="dues">
              <option <% if (product.dues === 0) { %>selected<% } %> value="0">Sin cuotas</option>
              <option <% if (product.dues === 3) { %>selected<% } %> value="3">3 cuotas s/ interés</option>
              <option <% if (product.dues === 6) { %>selected<% } %> value="6">6 cuotas s/ interés</option>
              <option <% if (product.dues === 9) { %>selected<% } %> value="9">9 cuotas s/ interés</option>
              <option <% if (product.dues === 12) { %>selected<% } %> value="12">12 cuotas s/ interés</option>
              <option <% if (product.dues === 18) { %>selected<% } %> value="18">18 cuotas s/ interés</option>
              <option <% if (product.dues === 24) { %>selected<% } %> value="24">24 cuotas s/ interés</option>
          </select>
      </div>
  </div>
  <div class="form__box--flex">
      <label class="form__label" for="images">Imagenes:</label>
      <input type="file" name="images" id="img" multiple>
  </div>
  <div class="form__box--flex">
      <div class="edit__img">
          <img src="/MULTIMEDIA<%= product.image_front %>" alt="<%= product.product_name %>">
          <p class="edit__img-side">Frente</p>
      </div>
      <div class="edit__img">
          <img src="/MULTIMEDIA<%= product.image_back %>" alt="<%= product.product_name %> en caja">
          <p class="edit__img-side">Dorso</p>
      </div>
  </div>
  <div>
      <input class="btn btn--primary btn--large" type="submit" value="Modificar Producto">
  </div>
</form>
</main>
  

<%- include('../partials/footer')%>
  
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>